<%= form_for([@profile, @profile.comments.build]) do |comment| %>
    <p>
      <%= comment.label :'Comment ' %><br>
      <%= comment.text_area :'commentText' ,size:'20*10'%>
    </p>
    <p>
      <%= comment.submit "Add Comment" ,:class => 'btn btn-mini' %>

    </p>
<% end %>