<%= link_to "Edit Profile" ,action: 'new' , controller: 'user_profiles' %>
<%= link_to "Find Friends" ,action: 'index' , controller: 'user_profiles' %>
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<%= render 'messageView' %>
<%= link_to "Logout",  action: :logout%>
